* {
	padding:0;
	margin:0;
	font-family: sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}
.jumbotron {
	background-image: url("../img/bg.jpeg");
	height: 600px;
	margin: 70px 80px;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.name {
	transform: translate(-50%, -50%);
	position: absolute;
	font-size: 90px;
	text-align: center;
	color: rgb(250, 249, 240);
	top: 50%;
	left: 50%;
}
  
h1 {
	font-weight: 300;
	margin: auto;
}
.boldtext {
	font-weight: 700;
  }
  
.subtitle {
	top: 75%;
	left: 50%;
	position: absolute;
	font-size: 20px;
	font-style: italic;
	font-family: "Roboto Serif";
}
.instagram {
	top: 40%;
	right: 2%;
	position: fixed;
	width: 25px;
}
.github {
	top: 50%;
	right: 2%;
	position: fixed;
	width: 25px;
}
.table, th, td, tr{
    padding: 5px;
    margin: auto;
    border:1px solid rgb(219, 163, 208);
    color: rgb(243, 247, 245);
    font-style: sans-serif;
    text-align: center;
}
.container {
	width:90%;
	margin:0 auto;
}
.container:after {
	content:'';
	display: block;
	clear: both;
}
header h1 {
	float: right;
	padding:15px 0;
	color: #ebcdcd;
}
header ul {
	float: left;
}
header ul li {
	display: inline-block;
}
header ul li a {
	padding:25px 20px;
	display: inline-block;
}
header ul li a:hover {
	background-color: #f5d9ec;
	color: rgb(252, 247, 252);
}
.profile {
	float: left;
	width: 50%;
}
  
  #profilePicture {
	height: 450px;
	position: relative;
	left: 150px;
}
.active {
	background-color: #c2dcee;
	color: #fff;
}
.banner {
	height: 60vh;
	background-image: url('../img/banner.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner:after {
	content:'';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(187, 221, 240);
}
.banner h2 {
	color: #fff;
	z-index: 1;
	padding: 20px 25px;
	border:3px solid #fff;
}
section {
	padding:50px 0;
}
section h3 {
	text-align: center;
	padding:20px 0;
	color: #f1b7e8;
	margin-bottom: 25px;
}


.about p {
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
	margin-bottom: 20px;
	text-align: center;
}

footer {
	padding:30px 0;
	background-color: rgb(203, 234, 238);
	color: #fff;
	text-align: center;
	
}
.bg-loader {
	background-color: #eee;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bg-loader .loader {
	width:100px;
	height: 100px;
	border:3px solid #fff;
	border-radius: 50%;
	border-top-color: #8cd2e7;
	border-right-color: #8acee9;
	border-bottom-color: #8bd5e2;
	animation: puterin .8s linear infinite;
}
.label {
	background-color: #bcf1f3;
	color: rgb(195, 235, 238);
	padding: 4px;
}
@keyframes puterin {
	100% {
		transform: rotate(360deg);
	}
}
@media screen and (max-width: 768px){
	.container {
		width:90%;
	}
	header h1 {
		text-align: center;
		float: none;
	}
	header ul {
		text-align: center;
		float: none;
	}
	.box .col-4 {
		width:100%;
		float: none;
		margin-bottom: 20px;
	}
}